%section.promo
  .main-wrap
    .main
      .intro-text
        .intro-lead-in
          Welcome to the Wonder Places!
        .intro-heading
          It's nice to meet you
      .to-bottom
        %span How it work
        %a.to-bott-btn{:href => "#how-use-sect"}
%section#how-use-sect.how-use
  .container
    %h2 HOW TO USE SERVICE
    .step-wrap
      .step-list
        .step-item
          %span.count STEP 1
          .step-name
            %h3 Choose a place
          %ul
            %li.step-option
              %p Choose a city and a category
            %li.step-option
              %p Search places and see results on map
        .step-item
          %span.count STEP 2
          .step-name
            %h3 See info
          %ul
            %li.step-option
              %p See reviews and photos.
            %li.step-option
              %p See customer reviews
        .step-item
          %span.count STEP 3
          .step-name
            %h3 Add to your wishlist
          %ul
            %li.step-option
              %p Add place to the list of places you want to visit
            %li.step-option
              %p Add place to the list of places you've already visited
            %li.step-option
%section.choose-place
  .container
    %h2 What place are you looking for ?
    .places-link
      =link_to 'See all places', places_path
    .search-wrap
      %form#main-search-form
        .search-area
          %input#pac-input.controls{:name => "place-name", :placeholder => "Place name", :type => "text"}
          %input.main-find-btn{:type => "submit", :value => "Find place!"}
    /%input#pac-input.controls{:type => "text", :value => "Search Box"}
    //%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAkwzcG4G3QaNEDYpYaNGYw3SmwkuCVf4o&libraries=places&callback=myMap"}
%section#main-map
  #places-map.map