%footer.main-footer
  .footer-wrap
    .container
      .foot-cont
        .foot-info
          %p.inf Search for an interesting and unique places in your area much more easier with WonderPlaces!
        .foot-links
          .foot-menu
            .ttl Menu
            %ul
              %li.foot-menu-item
                %a{:href => "javascript:void(0)"} How it works?
              %li.foot-menu-item
                %a{:href => "javascript:void(0)"} Search 
          .foot-contact
            .ttl Contact us
            %ul
              %li.foot-cont-item.phone
                %p Phone : +1 (647) 300-6050
              %li.foot-cont-item.mail
                %p Email : suppor@wp.ua
/ /footer
